html
{
	min-width: 360px;
	width:100%;
}
body
{
  background-image: url("i/background1.png");
  background-repeat: repeat;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #262C2E;
	margin:0;
	padding: 0;
	background-color: #FFFFFF;
	min-width: 360px;
	width:100%;
}
h1, h2
{
	font-size: 500%;
	font-weight: 300;
	color:#000000;
	padding-left: 5%;
  margin-top: 50px;
	top:50px;
}

h2
{
	font-size: 300%;

}

h3
{
	font-weight: 500;
	color:#000000;
}

	input:focus {outline:none;}
	select:focus {outline:none;}
	textarea:focus {outline:none;}
a
{
	text-decoration: none;
	font-weight: 600;
	color: #46A5E5;
}
a:active
{
	color: #46A5E5;
}
a:hover
{
	color:#000000;
  cursor: pointer;
}

.wrapper
{
	width: 100%;
}

.content
{
	background-position: top;
	width: 100%;
	min-width: 360px;
}

input,textarea,select
{
	background-color: transparent;
	border:1px solid #000000;
	padding: 1% 2%;
	font-size: 80%;
	resize:none;
	width:200px;
}

div.button, .button_disable
{
	width:198px;
	background-color: rgba(255,255,255,0.5);
	border:1px solid #000000;
	font-size: 100%;
	text-align: center;
	cursor:pointer;
	color: #000000;
	font-weight: 600;
}

.button_disable
{
  cursor: default;
  color: #6E797D;
  border: 1px solid #6E797D;;
  font-weight: 400;
  background-color: rgba(210,210,210,0.5);
}
div.button:hover
{
	border:1px solid #46A5E5;
	color:#46A5E5;

}
.status_message
{
  font-weight: 300;
  font-style: italic;
  padding-left: 20px;
}

.green
{
  color: green;
}

.red
{
  color: red;
}

.grey
{
  color: #6E797D;
}



