.footer
{
	bottom:0;
	width:100%;
	background: rgba(0,0,0,0.9);
	height:50px;
	position: fixed;
	box-shadow: 0px 0px 3px 3px #000000;
	/*color: #6E797D;*/
	color: #FFFFFF;

}

.footer_wrapper
{
	text-align: justify;
	width:95%;
	margin: 10px 2%;
	/*white-space:nowrap;*/
}
.footer_cell
{
	display:inline-block;
	vertical-align: middle;
	cursor:pointer;
	font-size: 120%;
	
}

.footer_cell:hover
{
	color: #46A5E5;
}
.footer_cell_active
{
	cursor: default;
	color: #46A5E5;
}

.footer_wrapper:after
{
	width:100%;
	content:"";
	display: inline-block;
}

.footer_cell:last-child:hover .feedback_wrapper
{
	opacity:1;
	transition: opacity 0.5s linear;
	right:10px;
}
div.feedback_wrapper
{
	bottom:0px;
	position:absolute;
	right:-9999px;
	z-index: 1;
	opacity:0;
	transition: opacity 0.5s linear;
	width:200px;
	height:150px;


}
div.feedback
{
	position:absolute;
	font-size: 150%;
	right:30;
	bottom:5;

}
.feedback>input
{
	font-size: 75%;	
}


.feedback>.button
{
	margin-bottom: 55px;
}


.feedback>textarea, .feedback>input
{
	display:block;
	z-index: 999;
	background-color: rgba(255,255,255,0.8);
}

input[name="user_email"]::-webkit-input-placeholder 
{
    color: #000000;
} 

input[name="user_email"]::-moz-placeholder 
{
    color: #000000;
    
}
textarea[name="user_message"]::-webkit-input-placeholder 
{
    color: #000000;
} 
textarea[name="user_message"]::-moz-placeholder 
{
    color: #000000;
    
}

div.sm_icon
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 20px;
}

div.sm_icon:last-child
{
	margin-right: 0px;
}


@media screen and (max-width: 350px)
{
	

	.footer_cell
	{
		font-size: 90%;
	}
}

/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.footer
	{
		height:90px;
	}
	.footer_wrapper
	{
		margin: 25px 10%;
	}
	.footer_cell
	{
		font-size: 200%;
		
	}
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:relative;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}


	.feedback>.button
	{
		margin-bottom: 95px;
	}
	input,textarea
	{
		width:500px;
	}
	textarea
	{
		height:600px;
	}
	div.button
	{
		width:499px;
	}
}


/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}
	input,textarea
	{
		width: 350px;
	}
	textarea
	{
		height:400px;
	}
	div.button
	{
		width:349px;
	}
}


/*Galaxy Note, Galaxy S5 in portrait*/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait){
	.footer
	{
		height:90px;
	}
	.footer_wrapper
	{
		margin: 25px 10%;
	}
	.footer_cell
	{
		font-size: 200%;
		
	}
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}


	.feedback>.button
	{
		margin-bottom: 95px;
	}
	input,textarea
	{
		width:500px;
	}
	textarea
	{
		height:600px;
	}
	div.button
	{
		width:499px;
	}
}

/*Galaxy Note, Galaxy S5 in landscape*/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape) { 
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}
	input,textarea
	{
		width: 350px;
	}
	textarea
	{
		height:400px;
	}
	div.button
	{
		width:349px;
	}
}

/*Nexus 5X in portrait*/
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : portrait){
	.footer
	{
		height:90px;
	}
	.footer_wrapper
	{
		margin: 25px 10%;
	}
	.footer_cell
	{
		font-size: 200%;
		
	}
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}


	.feedback>.button
	{
		margin-bottom: 95px;
	}
	input,textarea
	{
		width:500px;
	}
	textarea
	{
		height:600px;
	}
	div.button
	{
		width:499px;
	}
}

/*Nexus 5X in landscape*/
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) { 
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}
	input,textarea
	{
		width: 350px;
	}
	textarea
	{
		height:400px;
	}
	div.button
	{
		width:349px;
	}
}

/*iPhone 5 in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	.footer
	{
		height:90px;
	}
	.footer_wrapper
	{
		margin: 25px 10%;
	}
	.footer_cell
	{
		font-size: 200%;
		
	}
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}


	.feedback>.button
	{
		margin-bottom: 95px;
	}
	input,textarea
	{
		width:500px;
	}
	textarea
	{
		height:600px;
	}
	div.button
	{
		width:499px;
	}



}

/*iPhone 5 in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}
	input,textarea
	{
		width: 350px;
	}
	textarea
	{
		height:350px;
	}
	div.button
	{
		width:349px;
	}
}

/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
	.footer
	{
		height:90px;
	}
	.footer_wrapper
	{
		margin: 25px 10%;
	}
	.footer_cell
	{
		font-size: 200%;
		
	}
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}


	.feedback>.button
	{
		margin-bottom: 95px;
	}
	input,textarea
	{
		width:500px;
	}
	textarea
	{
		height:600px;
	}
	div.button
	{
		width:499px;
	}
}

/*iPhone 6 in landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}
	input,textarea
	{
		width: 350px;
	}
	textarea
	{
		height:350px;
	}
	div.button
	{
		width:349px;
	}
}

/*iPhone 6+ in portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait){
	.footer
	{
		height:90px;
	}
	.footer_wrapper
	{
		margin: 25px 10%;
	}
	.footer_cell
	{
		font-size: 200%;
		
	}
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}


	.feedback>.button
	{
		margin-bottom: 95px;
	}
	input,textarea
	{
		width:500px;
	}
	textarea
	{
		height:600px;
	}
	div.button
	{
		width:499px;
	}
}

/*iPhone 6+ in landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 
	.footer_cell:last-child:hover .feedback
	{
		right:70px;
	}

	.feedback
	{
		bottom:0px;
		position:absolute;
		right:-999999px;
		z-index: 999;
		font-size: 200%;
	}
	.feedback>input
	{
		font-size: 75%;	
	}
	input,textarea
	{
		width: 350px;
	}
	textarea
	{
		height:350px;
	}
	div.button
	{
		width:349px;
	}
}