.gallery
{
	width:100%;

	text-align: center;
}

.gallery_cell
{
	width:290px;
	height:300px;
	border: 2px solid #6E797D;
	background-color: rgba(255,255,255,0.9);
	text-align: left;
	margin:0 0 5px 0;
	cursor: pointer;
	display:inline-block;
	padding: 0 5px;
	vertical-align: top;
}

/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.gallery_cell 
	{
	    width: 390px;
	    height: 400px;
	    font-size:130%;
	}
	.gallery_cell>h3
	{
		font-size:130%;
	}
}

/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.gallery_cell 
	{
	    width: 390px;
	    height: 400px;
	    font-size:150%;
	}
	.gallery_cell>h3
	{
		font-size:150%;
	}
}


/*iPhone 5 in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	.gallery_cell 
	{
		font-size:120%;
	}
	.gallery 
	{
		margin-top: -55px;
	}
}

/*iPhone 5 in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	.gallery_cell 
	{
	    width: 550px;
	    height: 550px;
	    font-size:200%;
	}
}

/*iPhone 6 in landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	.gallery_cell 
	{
		font-size:120%;
	}
	.gallery 
	{
		margin-top: -55px;
	}
}

/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
	.gallery_cell 
	{
	    width: 550px;
	    height: 550px;
	    font-size:200%;
	}
}

/*iPhone 6+ in landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 
	.gallery_cell 
	{
		font-size:120%;
	}
	.gallery 
	{
		margin-top: -55px;
	}
}

/*iPhone 6+ in portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait){
	.gallery_cell 
	{
	    width: 550px;
	    height: 550px;
	    font-size:200%;
	}
}