.header_wrapper
{
	width: 100%;
	height: 75px;
	background-image: url("i/background1.png");
  box-shadow: 0 0 15px 5px rgba(130, 130, 130, 0.2);
  opacity: 0.92;
	top:-20;
	position: fixed;

}
.header
{
  top: 0px;
	width: calc(100% - 20px);
	text-align: right;
	position:fixed;
	padding: 20 10 0 10;
}
.header_mobile
{
	display:none;
}

.for_logo
{
	float:left;
	margin-top: -12px;
}

.long_logo
{
	display:inline-block;
}

.short_logo
{
	display: none;
}



.user_name
{
	display:inline-block;
	margin-left: -10px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width:200px;
}

.header_cell
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 20px;
}

.header_profile
{
  display: inline-block;
  vertical-align: middle;
}

.header_cell:last-child
{
	margin-left: -10px;
	cursor: pointer;
}

.header_cell>a
{
	color: #000000;


}

.header_cell>a.a_active
{
	cursor:default;
	color: #6E797D;
}


img.header_logo
{
	width:80%;
}

.search_hidden_block
{
	width:100%;
	position:absolute;
	right:-999999;
	top:0;
}
.search_hidden_block>a
{
	margin-left: 5px;
	margin-top:50px;
}
.search_hidden_block>input
{

	margin-top:50px;
}



div.login_hidden_block
{
	width:50px;
	position:absolute;
	right:250px;
	top:-1000;
	opacity:0;
	transition: opacity 0.5s linear;
	height:65px;


}


.login_icon
{
	cursor:pointer;
}

.login_icon:hover div.login_hidden_block
{
	top:0px;
	opacity: 1;
	transition: opacity 0.5s linear;
}

div.login_block
{
	position: absolute;
	right: -100px;
	top:60px;
	/*border-radius: 5px;*/
	border: 1px solid #000000;
	width:300px;
	background-color: rgba(255,255,255,1);
	z-index:100;
	text-align: left;

}

div.login_controll
{
	width:100%;
	position: relative;
}

div.login_controll_cell
{
	display: inline-block;
	width:calc(50% - 1px);
	text-align:center;
	padding: 5px 0px;
	/*border-radius: 5px 5px 0px 0px;*/
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #efefef;
	cursor:pointer;
}
div.login_controll_cell:last-child
{
	border-right: none;
}

div.login_controll_cell_active
{
	border-bottom:none;
	background-color: #ffffff;
	font-weight: bold
}

div.signin_block
{
	width: 96%;
	padding: 5px 2%;
}

div.signin_email
{
  display: inline-block;
  vertical-align: middle;
}

div.signin_link
{
  display: inline-block;
  vertical-align: middle;
  padding-left: 1%;
}

div.signup_block
{
	width: 96%;
	padding: 5px 2%;
}

div.login_notification
{
	text-align: left;
	width:inherit;
	padding: inherit;
}

input.signup_checkbox
{
	width: auto;

}
input.signup_input
{
	margin-bottom: 5px;
}

a.signup_link
{
	display:block;
	text-align: center;
	padding: 10px 0px;
}
