@media (max-width: 500px), (max-device-width: 1023px) and (orientation : portrait)
{
	.search_input>input
	{
		width:100px;
	}
	.header
	{
		/*padding:0;*/
	}
	.header_cell
	{
		margin-right: 5px;
	}
	div.login_hidden_block
	{
		right:140px;
	}
	div.login_block
	{
		width:250px;
	}

.header_wrapper
	{
		height:120px;
		top:-40;

	}


}

@media (max-width: 350px)
{
	.search_input>input
	{
		width:50px;
	}
	div.login_hidden_block
	{
		right:90px;
	}
	div.login_block
	{
		right: -45px;
	}
}



@media (max-width: 830px), (max-device-width: 1023px) and (orientation : portrait)
{
	.user_name
	{
		display:none;

	}	
}

@media (max-width: 620px)
{
	.long_logo
	{
		display:none;
	}

	.short_logo
	{
		display: inline-block;
	}

}


/*
	.header_cell:last-child:hover .search_hidden_block
	{
		right:20px;
		
	}
}
*/

@media (max-device-width: 1023px)
{
	.signup_input
	{
		width:220px;
	}
}