@media (max-width: 500px)/*, (max-device-width: 1023px) and (orientation : portrait)*/
{
	.search_input>input
	{
		width:100px;
	}

	.header_cell
	{
		margin-right: 5px;
	}
	div.login_hidden_block
	{
		right:140px;
	}
	div.login_block
	{
		width:250px;
	}


}

@media (max-width: 350px)
{
	.search_input>input
	{
		width:50px;
	}
	div.login_hidden_block
	{
		right:90px;
	}
	div.login_block
	{
		right: -45px;
	}
	.header_cell
	{
		margin-right: 2px;
	}
}



@media (max-width: 870px), (max-device-width: 1023px) and (orientation : portrait)
{
	.user_name
	{
		display:none;

	}
}

@media (max-width: 680px), (max-device-width: 1023px)
{
	.long_logo
	{
		display:none;
	}

	.short_logo
	{
		display: inline-block;
	}

}


/*
	.header_cell:last-child:hover .search_hidden_block
	{
		right:20px;

	}
}
*/

@media (max-device-width: 1023px)
{
	.header_cell 
	{
		margin-right: 35px;
	}
	.signup_input
	{
		width:60%;
	}
	div.login_hidden_block
	{
		right:440px;
	}
	div.login_block
	{
		width:450px;
	}
	.search_input>input
	{
		width:270px;
	}
}
