div.main_logo
{
	
	/*position:absolute;
	width:70%;
	height: 40%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	*/
}
.main_logo_
{

	width: calc(100% - 50px);
	height:70%;
	background-image: url("i/matcat_logo.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;

}
.main_logo_>img
{
	width:87%;
}

.main_links
{
	width:87%;
	padding: 0 10% 0 3%;
	text-align: justify;
	bottom:70px;
	position:absolute;
	-webkit-user-select: none;
	
}

.main_links_cell
{
	display:inline-block;
}
.main_links_cell>a
{
	font-size: 270%;
	color: #6E797D;	
	font-weight: 300;
}
.main_links_cell>a:hover
{
	color: #46A5E5;
}

.main_links:after
{
	content:"";
	display: inline-block;
	width:100%;
}



@media (max-device-width: 1023px) and (orientation : portrait){
	div.main_links
	{
		bottom: 110px;
	}
	div.main_links_cell>a 
	{
    	font-size: 370%;
	}
}

