
@media screen and (max-width: 530px)
{

	.main_logo
	{
		margin-left:3%;
		height:22%;
		width:85%;
	}


	.main_links_cell>a
	{
		font-size: 200%;
	}
}

@media screen and (max-width: 390px)
{


	.main_links_cell>a
	{
		font-size: 150%;
	}
}
