div.main_logo
{
	
	/*position:absolute;
	width:70%;
	height: 40%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	*/
}
.main_logo_
{

	width: calc(100% - 50px);
	height:70%;
	background-image: url("i/matcat_logo.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;

}
.main_logo_>img
{
	width:87%;
}

.main_links
{
	width:87%;
	padding: 0 10% 0 3%;
	text-align: justify;
	bottom:70px;
	position:absolute;
	
	
}

.main_links_cell
{
	display:inline-block;
}
.main_links_cell>a
{
	font-size: 270%;
	color: #6E797D;	
	font-weight: 300;
}
.main_links_cell>a:hover
{
	color: #46A5E5;
}

.main_links:after
{
	content:"";
	display: inline-block;
	width:100%;
}



/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	div.main_logo
	{
		height:35%;
	}
}

/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	div.main_logo
	{
		height:30%;
		width:80%;
	}
	div.main_links
	{
		bottom: 110px;
	}
	div.main_links_cell>a 
	{
    	font-size: 300%;
	}
}



/*iPhone 5 in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
	div.main_logo
	{
		height:35%;
	}
}

/*iPhone 5 in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	div.main_logo
	{
		height:30%;
		width:80%;
	}
	div.main_links
	{
		bottom: 110px;
	}
	div.main_links_cell>a 
	{
    	font-size: 370%;
	}
}

/*iPhone 6 in landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
	div.main_logo
	{
		height:35%;
	}
}

/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
	div.main_logo
	{
		height:30%;
		width:80%;
	}
	div.main_links
	{
		bottom: 110px;
	}
	div.main_links_cell>a 
	{
    	font-size: 370%;
	}

}

/*iPhone 6+ in landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 
	div.main_logo
	{
		height:35%;
	}
}

/*iPhone 6+ in portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait){
	div.main_logo
	{
		height:30%;
		width:80%;
	}
	div.main_links
	{
		bottom: 110px;
	}
	div.main_links_cell>a 
	{
    	font-size: 370%;
	}
}
