
@media screen and (max-width: 950px)
{
	.news_block_cell
	{
		margin: 0 0.5%;

		
	}
}

@media screen and (max-width: 850px)
{
	.news_block_cell
	{
		display: block;
		width:90%;
		padding: 0% 1%;
		border-left: 1px solid #6E797D;
		border-right: 1px solid #6E797D;
		margin: 1% 1%;
		background-color: rgba(255,255,255,0.4);
		max-height:450px;
	}


}

@media screen and (max-width: 850px)
{
	.news_block_cell
	{
		width:85%;
	}
}