.news_block
{
	width: 100%;
}

.news_block_cell
{
	display: inline-block;
	width:28%;
	padding: 0% 1%;
	border-left: 1px solid #6E797D;
	border-right: 1px solid #6E797D;
	margin: 0% 1%;
	vertical-align: top;
	background-color: rgba(255,255,255,0.4);
	height:50%;
	overflow: hidden;
	cursor: pointer;
}

.news_block_cell:hover
{
	background-color: rgba(255,255,255,0.5);
}
div.date 
{
	text-align: right;
	width:100%;
	font-size: 90%;
	font-style: italic;
	font-weight: 400;
	margin: -10px 0px;
	color: #6E797D;
}


.news_block_cell>p 
{
	font-family: Arial,sans-serif;
	/*color: #6E797D;*/
	font-size:100%;
}


@media (max-device-width: 1023px) and (orientation : landscape) { 
	
	.news_block_cell
	{
		font-size:110%;
		height:55%;
	}
}

@media (max-device-width: 1023px) and (orientation : portrait){
	.news_block_cell
	{
		display: block;
		width:90%;
		margin: 1% 1%;
		height:425px;
		font-size: 200%;
	}
}


