.turner
{
	right:0;
	width:35px;
	position:fixed;
	top:35%;
	opacity:1;
	z-index: 1;
}

.turner_element
{
	height:27px;
	width:27px;
	padding-top:5px;
}

.turner_element_inactive
{
  background-position: right;
	background-image: url("i/ic_checkbox_blank_circle_outline_black_18dp.png");
	background-repeat: no-repeat;
	cursor:pointer;
  opacity:0.8;
}

.turner_element_active
{
	background-position: right;
	background-image: url("i/ic_checkbox_blank_circle_black_18dp.png");
	background-repeat: no-repeat;
	cursor:default;
	opacity:1;
	z-index: 1;
}

.turner_element:hover
{
	opacity:1;
}


@max-device-width:1023px and (orientation:portrait) 
{ 
	div.turner_element>a 
	{ 
	height:40px; 
	width:40px; 

	} 

	div.turner_element_active>a 
	{ 
		height:40px; 
		width:40px; 
		background-image: url("i/ic_checkbox_blank_circle_black_36dp.png"); 
	} 

	div.turner_element_inactive>a 
	{ 
		height:40px; 
		width:40px; 
		background-image: url("i/ic_checkbox_blank_circle_outline_black_36dp.png"); 
	} 

}
/*

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	div.turner
	{
		right:12;
	}
	div.turner_element
	{
		height:35px;
		width:35px;
		padding-top:10px;
	}

	.turner_element>a
	{
		height:35px;
		width:35px;
		background-image: url("i/ic_checkbox_blank_circle_outline_black_24dp.png");
	}

	div.turner_element_active>a
	{
		background-image: url("i/ic_checkbox_blank_circle_black_24dp.png");
	}

}


@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : landscape) {

}

@media only screen and (min-device-width : 360px) and (max-device-width : 640px) and (orientation : portrait){
	div.turner
	{
		right:12;
	}
	div.turner_element
	{
		height:35px;
		width:35px;
		padding-top:10px;
	}

	.turner_element>a
	{
		height:35px;
		width:35px;
		background-image: url("i/ic_checkbox_blank_circle_outline_black_24dp.png");
	}

	div.turner_element_active>a
	{
		background-image: url("i/ic_checkbox_blank_circle_black_24dp.png");
	}

}

@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) {

}

@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : portrait){
	div.turner
	{
		right:12;
	}
	div.turner_element
	{
		height:35px;
		width:35px;
		padding-top:10px;
	}

	.turner_element>a
	{
		height:35px;
		width:35px;
		background-image: url("i/ic_checkbox_blank_circle_outline_black_24dp.png");
	}

	div.turner_element_active>a
	{
		background-image: url("i/ic_checkbox_blank_circle_black_24dp.png");
	}

}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	div.turner
	{
		right:12;
	}
	div.turner_element
	{
		height:35px;
		width:35px;
		padding-top:10px;
	}

	.turner_element>a
	{
		height:35px;
		width:35px;
		background-image: url("i/ic_checkbox_blank_circle_outline_black_24dp.png");
	}

	div.turner_element_active>a
	{
		background-image: url("i/ic_checkbox_blank_circle_black_24dp.png");
	}

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait){
	div.turner
	{
		right:12;
	}
	div.turner_element
	{
		height:35px;
		width:35px;
		padding-top:10px;
	}

	.turner_element>a
	{
		height:35px;
		width:35px;
		background-image: url("i/ic_checkbox_blank_circle_outline_black_24dp.png");
	}

	div.turner_element_active>a
	{
		background-image: url("i/ic_checkbox_blank_circle_black_24dp.png");
	}

}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {

}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait){
	div.turner
	{
		right:12;
	}
	div.turner_element
	{
		height:35px;
		width:35px;
		padding-top:10px;
	}

	.turner_element>a
	{
		height:35px;
		width:35px;
		background-image: url("i/ic_checkbox_blank_circle_outline_black_24dp.png");
	}

	div.turner_element_active>a
	{
		background-image: url("i/ic_checkbox_blank_circle_black_24dp.png");
	}

}
*/